<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Centro de Control</title>
  
  <script src="app.js"></script>
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"/>
</head>

    <ion-app>
        <ion-header>
          </ion-header>
          
          <ion-content>
              <div class = "header">
                  <p class="titulo" >Centro de Control</p>
              </div>


              <div class="description">
                Este es el centro de control donde podrás ver el estado de la habitación del bebé.
              </div>


              <div class="cuadrado"  id = "temp">
                  
                  <p class="texto" id="superior" class="ion-text-center" >
                    Temperatura 
                  </p>
                  <p class = "med" id= "tempMed">  
                    {{ medicion.temperatura }}°C
                  </p>

                  <p class="texto" id="inferior">
                   Humedad
                  </p>
                  <p class = "med" id= "humMed">  
                    {{ medicion.humedad }} %
                  </p>
    
              </div>


              <div class="cuadrado" id = "aire" >
                <p class="texto" id="superior" class="ion-text-center">
                  Calidad del aire
                </p>
                <p class = "med" id= "aireMed"  >  
                  {{ medicion.aire }}
                </p>
                </div>
              


             <div class="cuadrado" id = "mov">
              <p  class = "texto" id="superior" class="ion-text-center" >
                 Movimiento
                </p>
              <p class = "med" id= "movMed" >  
                {{ medicion.movimiento }}
              </p>
     
             </div>

              
             <div class="cuadrado" id = "sonido">
                <p class = "texto"  id="superior" class="ion-text-center">
                  Sonido
                </p> 
                <p class = "med" id= "sonidoMed">  
                  {{ medicion.sonido }}
                </p>
              </div>  

    
           </ion-content>
    
    
    </ion-app> 
