Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@feyunda 
Learn Git and GitHub without any code!
Using the Hello World guide, you’ll start a branch, write comments, and open a pull request.


1
00feyunda/Obibaby
 Code Issues 0 Pull requests 0 Projects 0 Wiki Security Insights Settings
Obibaby/src/app/intro/intro.page.html
@feyunda feyunda Para Iphone 6, no responsivo
8882bc2 2 hours ago
86 lines (61 sloc)  2.45 KB
  
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Centro de Control</title>
  
  <script src="app.js"></script>
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"/>
</head>

    <ion-app>
        <ion-header>
          </ion-header>
          
          <ion-content>
              <div class = "header">
                  
              </div>


              <div class="description">
               <!-- Este es el centro de control donde podrás ver el estado de la habitación del bebé. -->
              </div>


              <div class="cuadrado"  id = "temp">
                  
                  <p class="texto" id="superior" class="ion-text-center" >
                    Temperatura 
                  </p>
                  <p class = "med" id= "tempMed" *ngIf="medicion">  
                    {{ medicion.Temp }}°C
                  </p>

                  <p class="texto" id="inferior">
                   Humedad
                  </p>
                  <p class = "med" id= "humMed" *ngIf="medicion">  
                    {{ medicion.Hume }} %
                  </p>
    
              </div>


              <div class="cuadrado" id = "aire" >
                <p class="texto" id="superior" class="ion-text-center">
                  Calidad del aire
                </p>
                <p class = "med" id= "aireMed"  *ngIf="medicion">  
                  {{ medicion.Aire }}
                </p>
                </div>
              


             <div class="cuadrado" id = "mov">
              <p  class = "texto" id="superior" class="ion-text-center" >
                 Movimiento
                </p>
              <p class = "med" id= "movMed" *ngIf="medicion">  
                {{ medicion.Mov }}
              </p>
     
             </div>

              
             <div class="cuadrado" id = "sonido">
                <p class = "texto"  id="superior" class="ion-text-center">
                  Sonido
                </p> 
                <p class = "med" id= "sonidoMed" *ngIf="medicion">  
                  {{ medicion.Ruido }}
                </p>
              </div>  

    
           </ion-content>
    
    
    </ion-app> 

